<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>顶层设计</title>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
</head>
<body>
	
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/bootstrap.js"></script>
</body>
</html>