<!DOCTYPE html>
<html lang="zh-CN" class="bg-black">
<head>
	<meta charset="UTF-8">
	<title>顶层设计</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/public/css/AdminLTE.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	
	<script src="/public/js/jquery.js"></script>
	<script src="/public/js/bootstrap.js"></script>
</body>
</html>