<% include layout.ejs %>


</head>
<body class="bg-black">

<div class="form-box">
    <div class="header">管理员登录</div>
    <form  id="login-box">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="用户名"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="密码"/>
            </div>
            <div class="form-group">
                <p id="notice"></p>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">马上登录</button>
        </div>
    </form>
</div>
<script src="/public/js/layer.js"></script>
<script src="/public/js/login.js"></script>