<% include layout.ejs %>
<link rel="stylesheet" href="/public/css/login.css">
<div class="row">
    <div class="center-block register-box">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>系统管理员登录</h4></div>
            <form class="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" class="form-control" id="password" placeholder="密码">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Transfer cash</button>
            </form>
        </div>
    </div>
</div>